@model MalekServer3.Models.ViewModel.LoginViewModel

@{
    ViewBag.Title = "ورود";
}




<!-- PAGE -->
<section class="page-section color">
    <div class="container">
        <div class="row">

            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h3 class="block-title"><span>ورود</span></h3>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-login" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row  text-center">
                        @if (Request.QueryString["recovery"] != null)
                        {
                            <div class="alert alert-success">
                                <p>کلمه عبور شما با موفقیت تغییر کرد</p>
                                <p>میتوانید لاگین کنید</p>
                            </div>
                        }
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "نام کاربری یا ایمیل" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "  رمز " } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="g-recaptcha center uk-margin-small-bottom" data-sitekey="6LespWgaAAAAAH4GU6059x95Eh-gy_n5touTL4IJ"></div>
                                <span class=" uk-text-danger">@ViewBag.Message</span>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-6">
                            <div class="checkbox">
                                <label>
                                    @Html.EditorFor(model => model.RememberMe, new { htmlAttributes = new { @class = "checkbox" } })
                                    من را به خاطر داشته باش
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 text-right-lg">
                            <a class="forgot-password" href="/ForgotPassword">رمز عبور خود را فراموش کرده اید؟</a>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" value="ورود" class="btn btn-primary btn-theme btn-block" />
                        </div>
                    </div>

                }

            </div>
            <div class="col-md-3"></div>

        </div>
    </div>
</section>
<!-- /PAGE -->
