@model MalekServer3.Models.ViewModel.RecoveryPasswordViewModel
@{
    ViewBag.Title = "تغیر رمز";
}

<!-- PAGE -->
<section class="page-section color">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h3 class="block-title"><span>تغیر  رمز</span></h3>
                @using (Html.BeginForm("RecoveryPassword", "Account", FormMethod.Post, new { @class = "form-login" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row  text-center">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "رمز جدید" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control", placeholder = "تکرار رمز جدید" } })
                                @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" value="تغیر رمز" class="btn btn-primary btn-theme btn-block" />
                        </div>
                    </div>

                }

            </div>
            <div class="col-md-3"></div>

        </div>
    </div>
</section>
<!-- /PAGE -->
